#employee-home{
    display: flex;
    background-color: rgba(198, 194, 189, 0.689);
    height: 100vh;
    background-attachment: fixed;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
}

#sidebar {
    display: flex;
    height: 68vh;
    width: 18%;
    background-color: rgb(255, 255, 255);
    margin-top: 7%;
    margin-left: 8%;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    font-size: small;
}

#avatardiv {
    display: flex;
    border-radius: 50%;
    background-color: blueviolet;
    width: 30%;
    height: 11vh;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    flex-flow: column;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 2%;

}
#avatardiv:hover{
    cursor: pointer;
}

#header {
    display: flex;
    width: 100%;
    background-color: rgb(2, 11, 56);
    height: 8vh;
    position: absolute;
    align-items: center;

}

#rightbar {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 68vh;
    width: 18%;
    background-color: rgb(255, 255, 255);
    margin-top: 7%;
    right: 8%;
    flex-flow: column;
    border-radius: 10px;
    font-size:small;
    
}

#rightbar > h4{
    margin:4%;
}

.navbaritem{
    height: 3.7vh;
}

#navbar-logo{
    position: absolute;
    height: 6.9vh;
    left: 5%;
    width: 5.5%;
}

.navbar-logo{
  height: 6.9vh;
}

#navbar-logo:hover, .navbaritem:hover{
cursor: pointer;
}

#navbarlist{
   position: absolute;
   right: 5%;
   display: flex;
   justify-content: space-between;
   width: 16%;
   list-style-type: none;
}

#content-heading {
    display: flex;
    position: absolute;
    height: 6.6vh;
    width: 40%;
    background-color: #16113A;
    margin-top: 7%;
    left: 30%;
    border-radius: 10px;
    border-style: none;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: small;
    
}

#middlegrid {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 50vh;
    width: 40%;
    background-color: #16113A;
    margin-top: 13%;
    left: 29.4%;
    grid-gap:2.5%;
    border-color: #16113A;
    border-width: 1.5vh;
    border-style: solid;
    border-radius: 10px;
    font-size: small;
}

#team-grid, #job-grid{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    background-color: #16113A;
    margin-top: 13%;
    left: 29.4%;
    grid-gap:1.5%;
    border-color: #16113A;
    border-width: 1.5vh;
    border-style: solid;
    border-radius: 10px;
    font-size: small;
    max-height: fit-content;
    display: none;
}

.team-boxes{
    display: flex;
    margin: 0%;
    background-color: #272953;
    min-width: 15%;
    height: 6vh;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    padding: 0 4%;

    
}

.team-boxes h5:hover{
    background-color: #373954;
    cursor: pointer;
}

.team-boxes:hover{
    background-color: #373954;
    /* cursor: pointer; */
}

.KPI-boxes{
    display: flex;
    background-color: #272953;
    min-width: 15%;
    height: 100%;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
      
}

.KPI-boxes > h4{
    margin: 4%;
}

.KPI-boxes > h2{
    margin: 4%;
}

#footer{
    display: flex;
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: rgb(2, 11, 56);
    bottom: 0;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}
#footer-right{
    display: flex;
    position: absolute;
    right: 4%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    
}
#footer-right h6{
    margin: 0;
    /* font-size: 45%; */
}
#footer-left{
    position: absolute;
    left: 3%;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

#footer-left h6, #footer-left h5{
    margin: 0;
    /* font-size: 45%; */
}
#sidebar strong {
    display: block;
    display: flex;
    background-color: rgb(231, 225, 225);
    height: 6.5vh;
    align-items: center;
    margin: auto;
    margin-bottom: 8%;
    justify-content: center;
    width: 90%;
    margin-top: 1%;
  }
  
  #employee-tittle {
    margin: auto;
    margin-top: 0%;
    background-color: white;
    padding: 0%;
    margin-bottom: 6%;
    font-size: small;
  }
  

  #sidebar strong:hover{
    background-color: rgba(163, 160, 160, 0.726);
    cursor: pointer;
  }

  #employeeNameonsidebar{
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-bottom: 0;
}

#employeeNameonsidebar:hover{
text-decoration: underline;
cursor: pointer;
}
#rightbar h4{
    margin:4% auto 1% auto;
}

#online-employee{
    display: flex;
    background-color: antiquewhite;
    height: 6vh;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 2%;
    border-radius: 3px;
    font-size: 90%;
 
}

#greenonlinelight{
    height: 1.6vh;
    background-color: green;
    width: 5%;
    margin-left: 3%;
    border-radius: 50%;
}

#online-employee:hover{
    cursor: inherit;
background-color: rgb(245, 216, 178);
}

.sendmessagesvg{
    position: absolute;
    height: 3vh;
    width: 9%;
    right: 11%;
    
}

.sendmessagesvg:hover{
    cursor: pointer;
}


@media (max-width: 800px) {
    #middlegrid #searchbar #rightbar #sidebar{
        position: absolute;
      width: 100%;
      margin-top: 30%;

    }
    #middlegrid {grid-template-columns: 1fr 1fr;}
  }

  @media (max-width: 500px) {
    #middlegrid #searchbar #rightbar #sidebar{
        position: absolute;
      width: 100%;
      margin-top: 30%;

    }
    #middlegrid {grid-template-columns: 1fr;}
  }